---
# tasks file for ansible-wifi_ap

# dependencies
- name: "[main] Include dependencies installation tasks"
  include_tasks: dependencies.yml
  tags:
  - wifi_ap

# Network
- name: "[main] /etc/network/interfaces: Find and comment all lines containing {{ wifi_ap_WLAN }}"
  replace:
    path: /etc/network/interfaces
    regexp: '(^[^#\n].*{{ wifi_ap_WLAN }}.*$)'
    replace: '#\1'
    before: 'iface default.*'
  notify:
  - '[wifi_ap] Restart networking service'
  - '[wifi_ap] Reload systemd daemon'
  become: yes
  tags:
  - wifi_ap

- name: "[main] /etc/network/interfaces: Find and comment all {{ wifi_ap_WLAN }}-related settings"
  replace:
    path: /etc/network/interfaces
    regexp: '^(\s.+$)'
    replace: '#\1'
    # ATTENTION! before and after work wrong way around and this issue is still open on github.
    before: '#iface {{ wifi_ap_WLAN }} inet manual\n'
    after: 'iface default inet dhcp'
  notify:
  - '[wifi_ap] Restart networking service'
  - '[wifi_ap] Reload systemd daemon'
  become: yes
  tags:
  - wifi_ap

- name: "[main] Configure {{ wifi_ap_WLAN }} (ip: {{ wifi_ap_WLAN_ip }}; netmask: {{ wifi_ap_WLAN_netmask }}) in /etc/network/interfaces"
  blockinfile:
    marker: '#{mark} Added by drew-kun.wifi_ap asnible role'
    path: /etc/network/interfaces
    block: |
      auto {{ wifi_ap_WLAN }}
      iface {{ wifi_ap_WLAN }} inet static
        address {{ wifi_ap_WLAN_ip }}
        netmask {{ wifi_ap_WLAN_netmask }}
  notify:
  - '[wifi_ap] Restart networking service'
  - '[wifi_ap] Reload systemd daemon'
  become: yes
  tags:
  - wifi_ap

- name: "[main] Turn on ip forwarding on in /proc and in the sysctl file and reload if necessary"
  sysctl:
    name: net.ipv4.ip_forward
    value: 1
    sysctl_set: yes
    state: present
    reload: yes
  become: yes
  tags:
  - wifi_ap

# DHCP
- name: "[main] Generate /etc/dhcp/dhcpd.conf"
  template:
    src: dhcpd.conf.j2
    dest: /etc/dhcp/dhcpd.conf
    owner: root
    group: root
    mode: 0644
    backup: yes
  become: yes
  notify:
  - '[wifi_ap] Restart dhcp daemon'
  - '[wifi_ap] Reboot the host'
  - '[wifi_ap] Notify if the isc-dhcp-server restart failed'
  tags:
  - wifi_ap

- name: "[main] Specify 'INTERFACESv4|6={{ wifi_ap_WLAN }}' in /etc/default/isc-dhcp-server"
  replace:
    path: /etc/default/isc-dhcp-server
    regexp: '^(INTERFACESv[46]=)".*"'
    replace: '\1"{{ wifi_ap_WLAN }}"'
  become: yes
  notify:
  - '[wifi_ap] Restart dhcp daemon'
  - '[wifi_ap] Reboot the host'
  - '[wifi_ap] Notify if the isc-dhcp-server restart failed'
  tags:
  - wifi_ap

- name: "[main] Disable 'INTERFACESv6' in /etc/default/isc-dhcp-server if IPv6 is not configured"
  replace:
    path: /etc/default/isc-dhcp-server
    regexp: '^(INTERFACESv6=".*")'
    replace: '#\1'
  become: yes
  notify:
  - '[wifi_ap] Restart dhcp daemon'
  - '[wifi_ap] Reboot the host'
  - '[wifi_ap] Notify if the isc-dhcp-server restart failed'
  when: not wifi_ap_ipv6
  tags:
  - wifi_ap

# HostAPd
- name: "[main] Generate /etc/hostapd/hostapd.conf"
  template:
    src: hostapd.conf.j2
    dest: /etc/hostapd/hostapd.conf
    owner: root
    group: root
    mode: 0644
  become: yes
  notify: '[wifi_ap] Restart hostapd daemon'
  tags:
  - wifi_ap

- name: "[main] Add 'DAEMON_CONF=/etc/hostapd/hostapd.conf' to /etc/default/hostapd"
  lineinfile:
    path: /etc/default/hostapd
    regexp: 'DAEMON_CONF=\".*"'
    line: 'DAEMON_CONF="/etc/hostapd/hostapd.conf"'
    state: present
  become: yes
  notify: '[wifi_ap] Restart hostapd daemon'
  tags:
  - wifi_ap

- meta: flush_handlers
  tags:
  - wifi_ap

# IPTables (tasks/iptables.yml)
- name: "[main] Include tasks from iptables.yml"
  include_tasks: iptables.yml
  tags:
  - wifi_ap

- name: "[main] Access Point ESSID"
  debug:
    msg:
    - "Configuration is done"
    - "the Access Point name: {{ wifi_ap_essid }}"
  tags:
  - wifi_ap
...
